<div class="container mt-2">
    <h1>Tareas Pendientes</h1>
    <div>
        <table class="table mt-3">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Responsable</th>
                <th scope="col">Tarea</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha y Hora 'en progreso'</th>
                <th scope="col">Fecha y Hora 'finalizada'</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Oscar</td>
                <td>Limpiar todas las tazas de comida</td>
                <td>09/12/2021 10:34:22</td>
                <td>Pendiente</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lucía</td>
                <td>Bañar a todos los animales</td>
                <td>09/12/2021 08:00:00</td>
                <td>En progreso</td>
                <td>09/12/2021 08:10:00</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ramiro</td>
                <td>Dar de comer a los gatos</td>
                <td>09/12/2021 11:00:00</td>
                <td>Finalizado</td>
                <td>09/12/2021 11:05:02</td>
                <td>09/12/2021 11:10:00</td>
            </tbody>
          </table>
    </div>
</div>